* {
	box-sizing: border-box
}

:root {
	--accent: #33ACB7;
	--background: #222129;
	--app-background: #242930;
	--border-color: hsla(0, 0%, 100%, 0.1);
	--color: #fff;
}

body {
	background-color: var(--background);
	color: var(--color);
	font-family: Fira Code, Monaco, Consolas, Ubuntu Mono, monospace;
	font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl", "calt";
	font-size: 1rem;
	font-variant-ligatures: contextual;
	line-height: 1.54;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility
}

li{
	margin-top: 0.5em;
}

ul{
	list-style-image: url('chevron.svg');
	list-style-position: outside;
	padding-left: 25px;
}

h1 {
	font-size: 1.4rem;
}

#content a{
	background: linear-gradient(to bottom, var(--accent) 0%, var(--accent) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 1px;
	color: var(--accent);
	text-decoration: none;
	transition: all .2s;
}

#content a:hover {
	background-size: 4px 50px;
	color: var(--color); 
}

.app-header {
	padding: 2.5em;
	padding-top: 60px;
	background: var(--app-background);
	text-align: center
}

.app-header-avatar {
	max-width: 15rem;
	max-height: 15rem;
	border-radius: 100%;
	border: .4rem solid var(--accent);
}

.app-container {
	padding: 3rem;
	padding-top: 40px;
	max-width: 65rem;
	margin-left: 20rem;
}

@media(min-width:940px) {
	.app-header {
		position: fixed;
		width: 20rem;
		min-height: 100vh
	}

}

@media (max-width:940px) {
	.app-container {
    	margin-left: 0rem;
		padding: 3rem 1rem 3rem 1rem;
	}

}

.header {
	display: flex;
	flex-direction: column;
	position: relative
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 864px;
}

@media (max-width:683px) {
	.container {
		padding: 20px
	}

}

@media (max-width:899px) {
	#content {
		max-width: 660px
	}

}

#content h1 {
	--border: 3px dotted var(--accent);
	border-bottom: var(--border);
	color: var(--accent);
	margin: 0 0 15px;
	padding-bottom: 15px;
	padding-top: 20px;
	position: relative
}

#content h1:after {
	border-bottom: var(--border);
	bottom: 2px;
	content: "";
	display: block;
	position: absolute;
	width: 100%
}

.icon {
	stroke-dashoffset: 90;
	stroke-dasharray: 90;
	stroke-opacity: 1;
	transition: stroke-dashoffset ease .6s 
}

.icon:hover{
	stroke-dashoffset: 0; 
}

@keyframes blink {
	0%, 100% {
		color: transparent;
	}
	50% {
		color: #fff;
	}
}

.blink{
	animation: 1s blink step-end infinite;
}