* {
	box-sizing: border-box
}

:root {
	--accent: #33ACB7;
	--background: #222129;
	--app-background: #242930;
	--color: #fff;
	--h1-border: 3px dotted var(--accent);
}

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--background);
	color: var(--color);
	line-height: 24px;
	font-family: Fira Code, Monaco, Consolas, Ubuntu Mono, monospace;
}

#content{
	padding: 70px 20px 0px 20px;
}

li{
	margin-top: 12px;
}

ul{
	list-style-image: url('chevron.svg');
	list-style-position: outside;
	padding-left: 22px;
}

h1 {
	font-size: 1.4rem;
}

#content img{
	width: 100%;
	border-radius: 10px;
}

#content a{
	background: linear-gradient(to bottom, var(--accent) 0%, var(--accent) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 1px;
	color: var(--accent);
	text-decoration: none;
	transition: all .2s;
}

#content a:hover {
	background-size: 4px 50px;
	color: var(--color); 
}

.app-header {
	background: var(--background);
	text-align: center;
	padding: 70px 70px 0px 70px;
	position: fixed;
}

@media (max-width:940px) {
	.app-container {
		position: static !important;
	}

	.app-header{
		position: static !important;
	}

	.minimap, .minimap-overlay, .minimap-viewport {
		display: none;
	}

}

.app-header-avatar-border {
	position: absolute;
	width: 240px;
	height: 240px;
	animation: morph 40s infinite alternate ease-in-out, rotate 178s infinite normal linear;
	border: 1px solid var(--accent);
	background-color: var(--accent);
}

.app-header-avatar {
	position: relative;
	max-width: 240px;
	max-height: 240px;
	border-radius: 100%;
}

.app-container {
	max-width: 900px;
	position: absolute;
	top: 0px;
	left: 360px;
}

#content h1 {
	border-bottom: var(--h1-border);
	color: var(--accent);
	padding-bottom: 15px;
	position: relative;
	margin: 0px;
}

#content h1:not(:first-child) {
	margin-top: 35px;
}

#content h1:after {
	border-bottom: var(--h1-border);
	bottom: 2px;
	content: "";
	display: block;
	position: absolute;
	width: 100%
}

.icon {
	stroke-dashoffset: 90;
	stroke-dasharray: 90;
	stroke-opacity: 1;
	transition: stroke-dashoffset ease .6s 
}

.icon:hover{
	stroke-dashoffset: 0; 
}

@keyframes blink {
	0%, 100% {
		color: transparent;
	}
	50% {
		color: #fff;
	}
}

@keyframes morph {
	0% {
		border-radius:  55% 45% 35% 58% / 55% 35% 58% 35%;
	} 

	20% {
		border-radius:  35% 55% 58% 45% / 50% 55% 35% 55%;
	}

	50% {
		border-radius:  50% 45% 50% 55% / 55% 35% 55% 45%;
	}

	75% {
		border-radius:  55% 55% 35% 45% / 40% 45% 50% 45%;
	}

	100% {
		border-radius:  55% 45% 35% 58% / 55% 35% 58% 45%;
	} 
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	} 
}

.blink{
	animation: 1s blink step-end infinite;
	padding: 0 0 70px 20px;
}
